html, body {
    margin: -10px 0 0 0;
    padding: 0;
}

#header {
    padding-top: 150px;
    width: 100%;
    height: 550px;
    background-image: url("Images/lights.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    margin-top: -50px;
}


#avatar {
    background-image: url("Images/avatar.jpg");
    width: 145px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    margin: auto;
    box-shadow: inset 0px 0px 25px rgba(0,0,0,0.5);
}

#name {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 250%;
}

/* Text below header */
#description {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -5px;
    padding-left: 5px;
    font-size: small;
    font-weight: bolder;
}



/* Center Navigation items */
.navbar .navbar-nav{ 
    display: inline-block;
    float: none;
}

 /* Center Navigation items */
.navbar .navbar-collapse { 
    text-align: center;
}


 /* Navigation text */
.nav.navbar-nav li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

/* Styling text of list */
.nav.navbar-nav li a {
    color: white;
    margin-left: 60px;
    opacity: 0.8;
}

.nav.navbar-nav li a:visited {
    color: white;
}

.nav.navbar-nav li a:hover {
    background-color: transparent;
    border: 1px solid black;
    transition: .7s ease; /* delays for 1 second */
    -webkit-transition: .7s ease; /* for Safari & Chrome */
}

.nav.navbar-nav li a:focus {
    background-color: transparent;
    color: black;
}

.icon-bar {
    background: white;
}

.icon {
    padding-top: 20px;
    margin-left: -45px;
    text-align: center;
}

#icon-list {
    display: inline-flex;
}

#icon-list li {
    list-style: none;
}

#icon-list li a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: white;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 5px;
    color: black;
    transition: .5s ease-in;
}

#icon-list li a:hover {
    transform: rotateY(360deg);
    transition: .5s ease-in;
    color: white;
    background: black;
}

.cvbutton {
    text-align: center;
    padding-top: 20git px;
}
#cvbutton {
    background: transparent;
    border: 1px solid white;
    width: 120px;
    height: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#cvbutton:hover {
    transition: .5s ease-in;
    background: black;
    color: white;
}

#cvbutton > a {
    text-decoration: none;
    color: white;
}
























